*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  line-height: calc(1em + 0.5rem);
}

ol, ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6  {
  font-family: 'Poppins', sans-serif;
}

p, span, a, li {
  font-family: 'Quicksand', sans-serif;
}

input, button, textarea, select {
  font: inherit;
}